<h1>Logga in</h1>
<form asp-action="Login" method="post">
    <input type="text" name="username" placeholder="Användarnamn" required /><br />
    <input type="password" name="password" placeholder="Lösenord" required /><br />
    <button type="submit">Logga in</button>
</form>
<a href="/Account/Register">Registrera dig här</a>